body{
    background: rgb(189, 118, 247);
}
h1{
    font-size: 70px;
    color:black(45, 5, 82);
    text-align: center;
}
p{
    font-size: 20px;
    color:antiquewhite(210, 190, 14);
    text-align: justify; 
}
img{
    width: 45%;
    height: 05%;
    margin:30px;
}
.cabecalho{
    background-color:rgb( 71, 117, 223);
    display: flex;
}
.logocabecalho{
    width: 100px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 100px;
}
.item_lista_cabecalho{
    font-size: 30px;
    color: red;
    padding-left: 30px;
    list-style: none;
}